[submodule "dotfiles/vim/bundle/conque"]
	path = dotfiles/vim/bundle/conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "dotfiles/vim/bundle/r-plugin"]
	path = dotfiles/vim/bundle/r-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "dotfiles/vim/bundle/nerd-tree"]
	path = dotfiles/vim/bundle/nerd-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "dotfiles/vim/bundle/nerd-commenter"]
	path = dotfiles/vim/bundle/nerd-commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "dotfiles/vim/bundle/markdown-syntax"]
	path = dotfiles/vim/bundle/markdown-syntax
	url = git://github.com/vim-scripts/Markdown.git
[submodule "dotfiles/vim/bundle/taglist"]
	path = dotfiles/vim/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "dotfiles/vim/bundle/loremipsum"]
	path = dotfiles/vim/bundle/loremipsum
	url = https://github.com/vim-scripts/loremipsum.git
